
$primary: #121212;              
$secondary: #00000073;          
$text-white: #FFFFFF;           

$brown-light: #706458E5;       
$brown-dark: #534B42;          

$cream: #F3EEE8;                
$terracotta: #A06056;          
$light-grey: #F7F8F9;         

$font-merriweather: 'Merriweather', serif;  
$font-varta: 'Varta', sans-serif;          
$font-karla: 'Karla', sans-serif;       

$section-spacing: 5rem;
$container-x-padding: 10rem;
$container-y-padding: 4rem;

$mobile: 640px;
$tablet: 768px;
$desktop: 1024px;
$large-desktop: 1280px;
